{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="{% static 'css/temp.css' %}">
</head>
<body>

<div class="container">

    <!-- PROFILE HEADER -->
    <div class="profile-header">

        <!-- PROFILE IMAGE -->
        <div class="profile-image">
            <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture">
        </div>

        <!-- PROFILE INFO -->
        <div class="profile-info">

            <!-- TOP BAR -->
            <div class="top-bar">
                <h2>{{ user.username }}</h2>

            </div>

            <!-- STATS -->
            <div class="stats">
                <div class="stat">
                    <strong>{{ post_count }}</strong>
                    <span>Posts</span>
                </div>
            
                <div class="stat">
                    <strong>{{ followers_count }}</strong>
                    <span>Followers</span>
                </div>

                <div class="stat">
                    <strong>{{ following_count }}</strong>
                    <span>Following</span>
                </div>
            </div>

            <!-- BIO -->
            <div class="bio">
                <p>{{ user.profile.bio }}</p>
            </div>

        </div>

    </div>

    <hr>

    <!-- TABS -->
    <div class="tabs">
        <div class="tab active">
            <span>▦</span>
            <span>POSTS</span>
        </div>

        <div class="tab">
            <span>▶</span>
            <span>REELS</span>
        </div>

        <div class="tab">
            <span>👤</span>
            <span>TAGGED</span>
        </div>
    </div>

    <!-- POSTS GRID -->
    <div class="posts-grid">
        {% for post in posts %}
            <div class="post">
                <div class="post-header">
                </div>
                <img src="{{ post.image.url }}" alt="Post">
            </div>
        {% empty %}
            <div class="no-posts">
                <h3>No Posts Yet</h3>
            </div>
        {% endfor %}

    </div>

</div>

<div class="bottom-nav">

    <a href="{% url 'home' %}" class="nav-item">
        <span>🏠</span>
        <p>Home</p>
    </a>

    <a href="{% url 'search' %}" class="nav-item">
        <span>🔍</span>
        <p>Search</p>
    </a>

    <a href="{% url 'create_post' %}" class="nav-item add-btn">
        <span>➕</span>
    </a>

    <a href="{% url 'reels' %}" class="nav-item">
        <span>🎬</span>
        <p>Reels</p>
    </a>

    <a href="{% url 'profile' %}" class="nav-item">
        <img src="{{ request.user.profile.profile_pic.url }}" alt="Profile">
        <p>Profile</p>
    </a>

</div>
</body>
</html>
